@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #525252;
    --secondary-color: #001858;
    --background-color: #888888;
    --input-color:  #f0f0f0;
    --text-color: #001485;
}

* {
    margin: 0;
    padding: 0;
}
html{
    font-family: Poppins, sans-serif;
    font-size: 12px;
    color: var(--input-color);
    text-align: center;
}
body {
   min-height: 100vh;
   background-size:cover;
   background-image: url('../images/back.jpg');
   background-position: right;
   overflow: hidden;
}
.wrapper {
    box-sizing: border-box;
    background-color: var(--primary-color);
    height: 100vh;
    width: max(40%, 600px);
    padding: 10px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}
form {
    width: min(400px,100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
form > div {
    width: 100%;
    display: flex;
    justify-content: center;
}
form label {
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--secondary-color);
    fill: var(--input-color);
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
form input {
    flex-grow: 1;
    height: 50px;
    border: none;
    outline: none;
    padding: 1em;
    font-size: 1.2rem;
    border-radius: 0 10px 10px 0;
    box-sizing: border-box;
    min-width: 0;
    font: inherit;
    transition: 100ms ease-in-out;
}
form input:hover {
    border: 2px solid var(--secondary-color);
}
form button {
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--input-color);
    background-color: var(--secondary-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 100ms ease-in-out;
}
form button:hover {
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
}
a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1rem;
    transition: 100ms ease-in-out;
}
@media (max-width: 1100px) {
    .wrapper {
        width: min(600px,100%);
        border-radius: 0;
    }
}